<div class="container custom-theme">
  <div class="row col-md-4 form-edit"> 
    <h1> Editar Usuario </h1>
    <hr>
    <%= form_for :user, url: user_path(@user), html: { multipart: true }, method: :patch do |f|%>
    <p>
      <%= f.label :nombre %><br>
      <%= f.text_field :nombre ,class: 'form-control'%>
    </p>

    <p>
      <%= f.label :apellido %><br>
      <%= f.text_field :apellido ,class: 'form-control'%>
    </p>
    <p>
      <%= f.label :email %><br>
      <%= f.text_field :email ,class: 'form-control'%>
    </p>

    <p>
      <%= f.label :fecha_nacimiento %><br>
      <%= f.text_field :fecha_nacimiento ,class: 'form-control', :type => 'Date' %>
    </p>
    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password ,class: 'form-control'%>
    </p>
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#demo">
      Agregar Campo Personalizado
    </button>
    <div id="demo" class="collapse"><br>
      <p>
        <%= f.fields_for :user_key_values do |p| %>
    
          <%= p.label :campo_personalizado %><br>
          <%= p.label 'Nombre del Campo' %><br>
          <%= p.text_field 'key' , name: "kv[key]" %><br><br>
          <%= p.label 'Valor del Campo' %><br>
          <%= p.text_field 'value' , name: "kv[value]" %>
        <% end %>
    
      </p>
    </div>
    
    <p>
      <%= f.fields_for :photos do |p| %><br>
      
        <%= p.label 'Subir una Foto:' %><br>
      
        <%= p.file_field 'Foto', :multiple => true, name: "photos[photo][]" %>
      <% end %>
    </p>
    <hr>
    <p>
      <%= link_to 'Atras', users_path , class: 'btn btn-info'%>
      <%= f.submit 'Guardar' ,class: 'btn btn-success' %>
    </p>
    <% end %>
  </div>
  <div class="row col-md-7 col-md-offset-1"> 
    <h3>Fotos De <%=@user.nombre %>:</h3><br>
    
    <% if @user.photos.blank? %>
      <span class="label label-info">El usuario no tiene fotos asociadas </span>
    <% end %>
    <% @user.photos.each do |p| %>
      <img src="<%= p.photo %>" class="photo"/>
    <% end %>
    
    <h3>Campos personalizados:</h3><br>
    
    <% if @user.user_key_value.blank? %>
      <span class="label label-info">El usuario no tiene campos personalizados </span>
    <% else %>
      <% @user.user_key_value.each do |u| %>
      <ul class="list-group">
        <li class="list-group-item">
          <span><%=u.key %>:</span>
          <span><%=u.value %></span><br>
        </li>
      </ul>
      <% end %>
    <% end %>
  </div>
</div>
