<div class="container theme-showcase custom-theme" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <br><br>
    <div class="page-header">
      <h1>Bienvenido a MediaAdmin <br>
        <small>Administrador de Usuarios para mediastream</small>
      </h1>
      <br>
      <h4>Te invitamos a revisar nuestro <a href="/users" class="btn btn-primary btn-small" role="button">panel de Administración </a></h4>
    </div>
  </div>
</div> <!-- /container -->