<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <br><br>
    <h1>Bienvenido a MediAdmin</h1>
    <br><br>
    <p><a href="/users" class="btn btn-primary btn-lg" role="button">Usuarios</a>
    <a href="/api/v1/users" class="btn btn-primary btn-lg" role="button">API</a></p>
  </div>

</div> <!-- /container -->