// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background: url(http://mediastre.am/images/dots.png) 
  repeat fixed,
  url(http://mediastre.am/images/bg2.jpg) 
  repeat-y top center fixed,#151515;
}
.table{
  background-color: #ffffff;
}
.custom-theme{
  background: #eee;
  padding-bottom: 10px;
  border-radius: 0 0 10px 10px;
}
.photo{
  width: 100px;
  border-radius: 20px;
  margin: 10px;
  webkit-box-shadow: 3px 3px 3px #7C7C7C;
  box-shadow: 3px 3px 3px #7C7C7C;
}
.form-edit{
  background-color: #eee;
  border-radius:10px;
}