<!DOCTYPE html>
<html>
<head>
  <title>MediaAdmin</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
      <a class="navbar-brand" href="/"><img src="http://mediastre.am/images/mediastream.png" width="120"></a>
      <a class="navbar-brand" href="/users" > Usuarios</a>
      </div>
    </div>
  </div>
</div>
<br><br>

<%= yield %>

</body>
</html>
